# This file is in pip requirements format.
ipython # a powerful Python shell
ipywidgets # optionally used for tqdm in Jupyter
joblib # used for parallel computing
jupyter # to edit and run Jupyter notebooks
# matplotlib # beautiful plots. See tutorial tools_matplotlib.ipynb
numpy # Powerful n-dimensional arrays and numerical computing tools
pillow # image manipulation library, (used by matplotlib.image.imread)
scipy # scientific/technical computing library
tqdm # a progress bar library
widgetsnbextension # interactive HTML widgets for Jupyter notebooks
shapely # working with geometrical objects such as Polygons
numba # library for fast computing
ipynb # library for jupyter
mat73 # library for importing large mat files
sdeint # library for stochastic differential equations
plotly # library for plotly
great-circle-calculator
jupyter_contrib_nbextensions
scikit-image